.all{
    border: 5px solid #80c000;
    margin: 10px 5px;
    
}


.itemm{
    min-height: 150px;
    
}

.textt{
    height: 100%;
    top:0%;
    border: 0px !important;
}

.quantity{
    text-align: right;
    margin: 5% 10% 5% 10%;
    font-size: larger;
}