*{
    background-color: aqua;

    width:25%;
    height:25%;
}

#all{
    width:25%;
    height:25%;
}


.DashMealImg {
    position:fixed;
    top: 10%;
    bottom: 10%;
    left: 5%;
    //margin: 10% 10% 10% 10%;
    width: 40%;
    height: 80%;
    
}

.DashMealName {
    position:fixed;
    top: 10%;
    right: 5%;

    //color: red;
    font-size: 20px;
    width: 45%;
    height: 15%;

    
    text-align: left;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    background-color: lime;
}



.DashMealDes {   
    position:fixed;

    bottom: 20%;
    right: 5%;

    font-size: 15px;
    text-align: justify;
    width: 45%;
    height: 45%;
}

.DashMealButton{
    position:absolute;

    bottom: 3%;
    right: 3%;

    font-size: 15px;
    text-align: justify;
    width: 30%;
    height: 7%;

    text-align: center;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
