<!-- <div id="all">
  <ion-img src="assets/images/jelo1.png" class="DashMealImg"></ion-img>
  <div class="DashMealName">
    {{jeloName}}
  </div>
  <div class="DashMealDes">{{jeloDes}}</div>

  <ion-button class="DashMealButton">
    QTY
  </ion-button>
</div> -->

<!-- <ion-item button>
  <ion-img src="assets/images/jelo1.png" class=""></ion-img>
  <ion-label class="ion-text-wrap">
    <ion-text color="primary">
      <h3>H3 Primary Title</h3>
    </ion-text>
    <p>Paragraph line 1</p>
    <ion-text color="secondary">
      <p>Paragraph line 2 secondary</p>
    </ion-text>
  </ion-label>
  <ion-button class="">
    QTY
  </ion-button>
</ion-item> -->

<!-- style="width: 300px;" -->
<ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/jelo1.png">
  </ion-thumbnail>
  
  <ion-label class="ion-text-wrap">
    <h2>{{jeloName}}</h2>
    <p>{{jeloDes}}</p>
    
    <p>koji</p>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-label>
</ion-item>
