#loginPage{

    //size: 30%;
    align-items: center;

    display: flex;
    justify-content: space-around;
    flex-direction: row;

}



#box{
    flex: 1fr;
    margin: 50px 35% 0 35%;
    
    align-content: center;
}
#loginImg{
    align-items: center;
    height: 60%;
    width: 60%;
    
    margin: 0 20% 10% 20%;
}

.flexK{
    width: 100%;
    align-content: center;
    display: grid;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
