.title{
    width:100%;
    text-align: center;
}

.profileImg{
    //size:50%;
     width: 40%;
     margin: 15% 30% 15% 30%;
}

.ProfileThings{
    height: 7%;
    min-height: 50px;
    width:70%;
    margin: 10% 15% 10% 15%;
    text-align: center;
}