<!-- <ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="days">
    <div class="day">
      <img class="logo" src="assets/images/logo.png" alt="">
    </div>
    <div [ngClass]="{'day': true, 'active-day': day == currentDay}" *ngFor="let day of days" color="primary" (click)="changeDay(day)">
      <span><h2>{{daysNames[day]}}</h2></span>
    </div>
  </div>

  <div class="TopLeft">
    <div class="title">
      DAY MEALS
    </div>

    <div class="subtitle">
      Non active meals
    </div>

    <div class="underText">
      Click on the meal card to add it to your day menu
    </div>
  </div>

  <div class="left">
    <!-- <div class="meal"> -->
      <ion-grid class="gridB">
      <ion-row>
        <ion-col *ngFor="let order of meals1" size="12" class="single" (click)="addDay(order.DishId)" >
          <app-dash-meal [order]="order"></app-dash-meal>
        </ion-col>
        
      </ion-row>
    
    </ion-grid>
    <!-- </div> -->
  </div>


  <div class="TopRight">
    <div class="searchDiv">
      <ion-searchbar showCancelButton="focus"></ion-searchbar>
    </div>

    <div class=subtitle>
      Current meals
    </div>

    <div class="underText">
      Currently available meals on your daily menu
    </div>
  </div>


  <div class="right">
    <ion-grid class="gridB">
      <ion-row>
        <ion-col *ngFor="let order of meals2" size="12" class="single" (click)="deleteDay(order.DishId)">
          <app-dash-meal [order]="order"></app-dash-meal>
        </ion-col>
        
      </ion-row>
    
    </ion-grid>
  </div>


  <button class="btMeal">
    ADD NEW MEAL

  </button>
</ion-content>