<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="weekbar">
    <app-week-bar></app-week-bar>
  </div>

  <div class="TopLeft">
    <div class="title">
      DAY MEALS
    </div>

    <div class="subtitle">
      Non active meals
    </div>

    <div class="underText">
      Click on the meal card to add it to your day menu
    </div>
  </div>

  <div class="left">
    <app-dash-meal></app-dash-meal>

    <app-dash-meal></app-dash-meal>
  </div>


  <div class="TopRight">
    <div class="searchDiv">
      jl
    </div>

    <div class=subtitle>
      Current meals
    </div>

    <div class="underText">
      Currently available meals on your daily menu
    </div>
  </div>


  <div class="right">
    <app-dash-meal></app-dash-meal>

    <app-dash-meal></app-dash-meal>
  </div>
</ion-content>