.sidebarImgImg {
    height: 80%;

    align-items: center;
}
.sidebarImg {
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    margin: 25% 0% 0% 0%;
}

.sidebarDay {
    margin: 18% 0 18% 0;
    height: 15%;
    background-color: aqua;

    text-align: center;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
