.active-day {
    color: #1cba5b;
    background-color: white;
}

.days {
    float: top;
    width: 100%;
    height: 6%;
    background-color: #1cba5b;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // box-sizing: content-box;
}

.day {
    height: 100%;
    text-align: center;
    width: 20%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
}

.dayName {
    float: inline-start;
}

.restName {
    align-items: center;
    text-align: center;
    width: 100%;
}
