<ion-header>
  <!-- <ion-button [routerLink]='["/mobile/tabs/dashboard"]'>
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button> -->
  <ion-back-button></ion-back-button>
  <div>
    {{currentRestName}}
  </div>
  <div class="days">
    <div [ngClass]="{'day': true, 'active-day': day == currentDay}" *ngFor="let day of days" color="primary" (click)="changeDay(day)">
      <span class="dayName"><h2>{{daysNames[day-1]}}</h2></span>
    </div>
  </div>

</ion-header>


<ion-content>
  <div *ngFor="let dish of dishesDay">
    <app-dash-meal [order]="dish" (click)="addToCart(dish)" [dishSelected]="dish.incart"></app-dash-meal>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="!cartField?.length" [routerLink]="['/mobile/tabs/cart']">
      <ion-icon name="cart"></ion-icon>

    </ion-fab-button>
    <ion-badge>{{cartField?.length || 0}}</ion-badge>
  </ion-fab>
</ion-content>
