.slikaFit{
    min-height: 25%;
    background-size: 100%;
    background-position: center;
}

.restName{
    background: none;
    background-image: none;
    color:black;
    text-shadow: white 0px 0px 10px;
}