<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="dashboard">
        <!-- <ion-icon name="calendar"></ion-icon> -->
        <ion-label>dashboard</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="cart">
        <!-- <ion-icon name="person-circle"></ion-icon> -->
        <ion-badge>420</ion-badge>
        <ion-label>cart</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <!-- <ion-icon name="map"></ion-icon> -->
        <ion-label>profile</ion-label>
      </ion-tab-button>
  
     
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
