<!-- <ion-header>
  <ion-toolbar>
    <ion-title>newDish</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content id="newItem">
  <div id="box">
    <div id="title">
      ADD NEW MEAL
    </div>

    <ion-item>
      <ion-label>Meal name</ion-label>
      <ion-input [(ngModel)]="name">

      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Meal description</ion-label>
      <ion-input [(ngModel)]="des">

      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Salata</ion-label>
      <ion-checkbox [(ngModel)]="salad"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Kruh</ion-label>
      <ion-checkbox [(ngModel)]="bread"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Juha</ion-label>
      <ion-checkbox [(ngModel)]="soup"></ion-checkbox>
    </ion-item>

    <ion-item id="kutija">
      <ion-img src="/assets/images/empty.png"></ion-img>
    </ion-item>
    
    <ion-item id="kutija">
      <ion-button>
        Dodaj sliku
      </ion-button>
    </ion-item>

    <ion-item id="kutija">
      <ion-button (click)="save()">Save</ion-button>
      <ion-button>Cancel</ion-button>
    </ion-item>

  </div>


</ion-content>