.days {
    float: left;
    width: 7%;
    height: 100%;
    background-color: #1CBA5B;
}
.day {
    width: 100%;
    height: 16.6%;
    padding: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-weight: bolder;
    cursor: pointer;
}
.active-day {
    color:  #1CBA5B;
    background-color: white;
}

// .all{
//     width: 100%;
//     height: 100%;
// }
.title {
    position:absolute;
    top: 5%;
    left: 15%;
    text-align: center;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 40%;
    height: 10%;
}

.searchDiv {
    text-align: center;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    
    position: absolute;
    top: 0%;
    right: 10%;
    height: 20%;
    width: 25%;

}

.gridB{
    display: inline-grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    left:10%;
    top:15%;
    width: 87%;
    height: 85%;
    overflow: auto;
    box-sizing: content-box;
}

.red{
    max-height: 100px;
    width: 100%;
}

.stupac{
    min-height: 300px;
    width: 100%;
}
.oneBox{
    min-width:300px;
    
}