<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="all">
  <div class="weekbar">
    <app-week-bar></app-week-bar>
  </div>


  <div class="title">
    ORDERS REVIEW
  </div>

  <div class="searchDiv">
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
  </div>

  <!-- <div >
    <div *ngFor="let i of field">
      hello777
      <app-dash-meal-q></app-dash-meal-q>
    </div>
  </div> -->

  <div class="gridB">
    <article style="background-color: green;" class="single">
      <app-dash-meal-q></app-dash-meal-q>
    </article>
    <article style="background-color: green;" class="single">
      <app-dash-meal-q></app-dash-meal-q>
    </article>
    <article style="background-color: green;" class="single">
      <app-dash-meal-q></app-dash-meal-q>
    </article>
    <article style="background-color: green;" class="single">
      <app-dash-meal-q></app-dash-meal-q>
    </article>
    <article style="background-color: green;" class="single">
      <app-dash-meal-q></app-dash-meal-q>
    </article>
    <article style="background-color: green;" class="single">
      <app-dash-meal-q></app-dash-meal-q>
    </article>
    <article style="background-color: green;" class="single">
      <app-dash-meal-q></app-dash-meal-q>
    </article>
    <article style="background-color: green;" class="single">
      <app-dash-meal-q></app-dash-meal-q>
    </article>
  </div>

</ion-content>